@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300&family=Noto+Sans+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logos */

h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #201e1e;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 20px;
}
/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animation zoom effect on load page */
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}


/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 250px;
    height: 100px;

    padding-top: 45px;
    padding-left: 15px;

    background-color: rgba(66, 4, 66, 0.7);

    bottom: 20px;
    right: 170px;

    position: absolute;
}

/* ethos*/

#ethos {
    height: 500px;
}

#left-about {
    padding-top: 25px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 25px;
    width: 33%;
    float: right;
    background-color: red;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}